<% if obj.errors.any? %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

        <h4 class="alert-heading">
            <%= pluralize(obj.errors.count, "error") %> prohibited this article from being saved</h4>
        <ul>
<<<<<<< HEAD
            <%= obj.errors.full_messages.each do |message| %>
=======
            <%- obj.errors.full_messages.each do |message| %>
>>>>>>> 0864a6ad7f77d03b319306f1e3e23ec28c515cd5
                <li>
                    <%- byebug%>
                    <%= message %>
                </li>
            <% end %>
        </ul>
    </div>
    <div id="error_explanation">
    </div>
<% end %>