<div class="container jumbotron mt-5 jumbohome">
    <div class="homej">
        <div class="row" id="alpha-h1">
            <h1>Alpha Blogs</h1>
        </div>
        <div class="row justify-content-center">
            <%= link_to 'Sign Up Here', signup_path, class: "btn btn-primary" %>
        </div>
    </div>
</div>